/* ==========================
   Importação de Fontes
   ========================== */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ==========================
   Reset e Configurações Globais
   ========================== */
*{
    margin: 0; /* Remove margens padrão */
    padding; 0; /* Remove espaçamentos padrão */
}

/* ==========================
   Configurações do Body
   ========================== */
body {
    height: 100vh;
    box-sizing: border-box; /* Garante que largura e altura incluam padding e borda */
    background-color: #191919; /* Cor de fundo negra */
    color: #ffffff; /* Define a cor do texto como branca */
}

/* ==========================
   Definição dos Títulos
   ========================== */
.negrito-destaque  {
    color:#0cc0df /* Define a cor do texto com um tom de azul claro (#0cc0df) */
}

.sub-titulo {
   color: #d838f2; /* Define a cor do texto com um tom de rosa (#d838f2) */
}

/* ==========================
   Configurações do Container / Flexbox
   ========================== */
.apresentacao {
    margin: 10% 30%; /* Define margens de 0% no topo e na base e 10% nas laterais */
    display: flex; /* Define o display como flexível */
    align-items: center; /* Alinha os itens no centro */
    justify-content: space-between; /* Justifica o conteúdo no centro */
    font-family: "Funnel Sans", sans-serif; /* Define a fonte Funnel Sans como padrão */
    font-optical-sizing: auto; /* Define o tamanho da fonte como automático */
    font-weight: <weight>; /* Define o peso da fonte */
    font-style: normal; /* Define o estilo da fonte como normal */
}

/* ==========================
   Configurações do Conteúdo
   ========================== */
.apresentacao__conteudo {
    width: 328px; /* Define a largura do conteúdo como 50% */
    display: flex; /* Define o display como flexível */
    flex-direction: column; /* Define a direção da coluna */
    gap: 16px; /* Define o espaçamento entre os elementos como 16px */
}

.apresentacao__conteudo__titulo {
    font-size: 44px; /* Define o tamanho da fonte como 2.5rem */
}

.apresentacao__conteudo__paragrafo {
    font-size: 14px; /* Define o tamanho da fonte como 1rem */
    font-family: "Funnel Sans", sans-serif; /* Define a fonte Funnel Sans como padrão */
    font-optical-sizing: auto; /* Define o tamanho da fonte como automático */
    font-weight: <weight>; /* Define o peso da fonte */
    font-style: normal; /* Define o estilo da fonte como normal */
}

.apresentacao__links {
    display: flex; /* Define o display como flexível */
    flex-direction: column;
    justify-content: space-between; /* Justifica o conteúdo no centro */
    align-items: center; /* Alinha os itens no centro */
    gap: 20px
}

.apresentacao_link_subtitulo {
    font-family: "Funnel Sans", sans-serif; /* Define a fonte Funnel Sans como padrão */
    font-optical-sizing: auto; /* Define o tamanho da fonte como automático */
    font-weight: <weight>; /* Define o peso da fonte */
    font-style: normal; /* Define o estilo da fonte como normal */
    font-size: 16px; /* Define o tamanho da fonte como 1rem */
}

.apresentacao__links__link{ /* Define o estilo dos links */
   color: white; /* Define a cor do texto como branca */
   text-decoration: none; /* Remove a decoração do link */ 
   text-align: center; /* Alinha o texto no centro */
   font-size: 14px; /*  Define o tamanho da fonte como 1rem */
   width: 128px; /* Define a largura como 128px */
   border: 1px solid #D838F2; /* Define a borda com 1px de espessura e cor branca */
   border-radius: 6px; /*   Define o raio da borda como 8px */
   padding: 6px 0; /* Define o espaçamento interno como 8px no topo e na base e 0 nas laterais */
}
